body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #121212;
}

h2 {
    font-size: 1rem;
    color: #333;
}

h1{
    text-align: center;
}

.header {
    display: flex;
    align-items: center; /* Aligns items vertically */
    gap: 10px; /* Space between back button and title */
    justify-content: center;
  }


pre {
    font-family: inherit;
    display: inline;
    white-space: pre-wrap;
}

section {
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

label {
    display: block;
    padding: 10px;
    font-size: 1rem;
}

input[type="radio"] {
    margin-right: 8px;
}

 ul {
    padding: 1px;
  }


.header ul {
    text-align: center;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  a, button {
    display: inline-block;
    align-items: center;
    margin: 5px 0;
    padding: 5px 10px;     
    background-color: black;
    color: white;          
    text-decoration: none;  
    border-radius: 5px;  
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;  
  }
  
  a:hover, button:hover {
    background-color: #333;
    transform: scale(1.05); 
  }

  .setcont {
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #121212;
}

.setcont form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.setcont label {
    font-weight: bold;
    margin: 10px 0 5px;
}

 .setcont select, .setcont textarea, .setcont input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.setcont textarea {
    max-height: 40px;
    resize: none;
    overflow: hidden;
}
