<%- include('header') -%>
<div class="container">
<h1>Veldu flokk!</h1>
<ul>
  <% for (const category of categories) { %>
    <li><a href="/spurningar/<%=category.id%>"><%=category.name%></a></li>
  <% } %>
</ul>
</div>

<%- include('footer') -%>